# Dependencies
node_modules/

# Environment files
.env
.env.*

# Portfolio documents
README.md
CapStone.md
Certificate.md
personal.md
Project.md

# PDFs
old-resume.pdf
Resume_new.pdf

# Images
Myimage.png